#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

#school {
    color: blue;
    font-style: italic;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

h4 {
    text-align: center;
    font-style: italic;
    color: white;
    text-decoration: underline;
}

button {
    border: none;
    color: blue;
    font-size: 22px;
    background-color: rgb(150, 200, 100);
    text-align: center;
}

p.centre {
    font-size: 700%;
    display: inline;
}

a.nextx {
    border: none;
    color: white;
    font-size: 50px;
    background-color: blue;
    text-align: center;
}

div.poem1 {
    margin: 30%;
    color: blue;
    border-radius: 50px;
    background: green;
}